version: '3.8'

services:
#  backend:
#    build: .
#    container_name: project6-backend
#    env_file: .env
#    ports:
#      - "8080:8080"

  redis:
    image: redis:latest
    container_name: redisPr6
    ports:
      - "6380:6379"
    volumes:
      - redis-data:/data
    networks:
      - redis-network

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER:  admin
      MINIO_ROOT_PASSWORD: adminadmin
    command: server /data --console-address ":9001"
    volumes:
      - ./minio-data:/data

  db:
    image: postgres:latest
    container_name: project6
    restart: always
    environment:
      POSTGRES_DB: Project6
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root


    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

    ports:
      - "5433:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  redis-data:

networks:
  redis-network: