
spring:
  application:
    name: Project6
  cache:
    type: redis
  servlet:
    multipart:
      max-file-size: 1GB
      max-request-size: 1GB

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}

  jackson:
    serialization:
      fail-on-empty-beans: false

logging:
  file:
    path: logs/spring.log
  logback:
    rollingpolicy:
      max-file-size: 10MB
      max-history: 5

  level:
    root: INFO
    org.springframework: debug

minio:
  url: ${MINIO_URL}
  access-key: ${MINIO_ACCESS_KEY}
  secret-key: ${MINIO_SECRET_KEY}
  bucket: ${MINIO_BUCKET}

liquibase:
  change-log: classpath:db/changelog/db.changelog-master.yaml